In [4]:
# understanding the variables in python  (these are building blocks of python)

In [1]:
x=10           #variables are placeholers for values
y=15

In [2]:
x+y

25

In [5]:
# Rules for declaring variables in python
# Rule 1: No name spaces are allowed in while declaring the variable name.

In [6]:
# example

In [15]:
first name = 'tophik'

SyntaxError: invalid syntax (<ipython-input-15-626442a8ba56>, line 1)

In [11]:
print (first name)

SyntaxError: invalid syntax (<ipython-input-11-ac470e960225>, line 1)

In [13]:
first_name = 'tophik'

In [16]:
print(first_name)

tophik

In [17]:
# Rule 2: one should not use a number to start a name of variable.(but it can be used in between th nmae or at the end of the name)

In [18]:
# Example

In [19]:
1name = 'misbah'

SyntaxError: invalid syntax (<ipython-input-19-a8e8cc45145a>, line 1)

In [20]:
print(1name)

SyntaxError: invalid syntax (<ipython-input-20-0d7636e7b46b>, line 1)

In [21]:
name1 = 'misbah'

In [22]:
print(name1)

misbah

In [23]:
# Rule 3: one should not use any special characters in name of variable at all.( like !,@,#,$,%,^,&,*,)

In [24]:
# Example

In [25]:
name$= 'farheen'
print(name$)

SyntaxError: invalid syntax (<ipython-input-25-a9481b233ac0>, line 1)

In [26]:
# Introduction to data types in python:  5 types as
string     -----> str
integers   -----> int
list       -----> list
tuple      -----> tuple
dictionary -----> dict

SyntaxError: invalid syntax (<ipython-input-26-d764926e23d0>, line 2)

In [27]:
# python is case sensitive language

In [28]:
# Classification of data types:

In [ ]:
# Two categories
# 1. Mutable data type: flexible datatype
#          We can change, modify or alter the data once it has been assigned or declared.
# 2. Immutable data type: Fixed or rigid datatype
#          We cannot change, modify or alter the data once it has been assigned.

In [ ]:
# Introduction to string data type:

# Defination: string is nothing but a series of characters.
# String is an immutable category of datatype.

In [ ]:
# How to define a string in a code

In [ ]:
# Three possible ways as:

# 1. Single quotes ------>  '     '
# 2. Double quotes ------>  "     "
# 3. Triple quotes ------>  """  """

In [29]:
# Examples

In [30]:
name = ' tophik'
print(name)

 tophik

In [33]:
name1 = "tophik1"
print(name1)

tophik1

In [34]:
name2 = """tophik2"""
print(name2)

tophik2

In [37]:
# Introduction to built in methods of a string  

type(name2)

str

In [36]:
type(name)

str

In [40]:
full_name = 'raja murad'

print(full_name)

raja murad

In [41]:
print(full_name.title())  # titlecase: to make first alphabet of each word capital

Raja Murad

In [42]:
print(full_name.upper())  # uppercase : to make all alphabet of each word capital

RAJA MURAD

In [43]:
print(full_name.lower())  #lowercase : to make all alphabet of each word small

raja murad