In [ ]:
# Intro to tuple datatype

Definition: An immutable list is called tuple.
    
How to define a tuple ----->  ( )   # in round bracket; paranthesis

tuple is classified as immutable datatype

In [ ]:
# Example

In [1]:
dimentions = (200,50)

In [2]:
print(dimentions)

(200, 50)

In [3]:
type(dimentions)

tuple

In [4]:
dimentions[0]=250

TypeError: 'tuple' object does not support item assignment

In [5]:
# In tuple datatype data once assigned can not be changed or modified or deleted.

# So tuple once defined is permanent untill unless it is redefined

# Hence to change a tuple we have to redefine it with new input data.

In [6]:
# Hence to change the data in above case we have to redefine it or reconstruct it as:

dimentions=(250,50)

In [7]:
print(dimentions)

(250, 50)

In [ ]:
#  Except changing and modifying all other functionalities applicable to list type, can be used for tuple type.

In [8]:
# Example

In [9]:
ages = (45,25,60,75,15,20,80,63,29,46)

In [10]:
for x in ages:
    print(x)

45
25
60
75
15
20
80
63
29
46

In [11]:
print(sorted(ages))

[15, 20, 25, 29, 45, 46, 60, 63, 75, 80]

In [24]:
print(ages)

(45, 25, 60, 75, 15, 20, 80, 63, 29, 46)

In [ ]:
#  Introduction to dictionary datatype: ------------->  dict

In [ ]:
# Definition: a dictionary is a data defined in key-value pairs

# How to define a dictionary  ------------>inside  { }   i.e. flower brackets  / curly braces

# It is an mutable datatype.

# It is used in every real world object based application.

In [ ]:
# Req: To build a game: Shooting the alien

# Kill one alien = 5 points

In [26]:
alien1 = {'color':'green','points':'5'}  #  dict --->  Key = color  and value = green  ;   key = points  and value = 5

In [27]:
alien2 = {'color':'yellow','points':10}  #  here key = color  and value = yellow  ;  key = points  and value = 10

In [28]:
alien3 = {'color':'red','points':'15'}   #  here key = color  and value = red  ;  key = points  and value = 15

In [30]:
print(alien1)

{'color': 'green', 'points': '5'}

In [31]:
print(alien2)

{'color': 'yellow', 'points': 10}

In [32]:
print(alien3)

{'color': 'red', 'points': '15'}

In [33]:
type(alien1)

dict

In [35]:
type(alien2)

dict

In [36]:
type(alien3)

dict

In [42]:
user_account_1 = {'username':'atn1','fname':'aru','lname':'nai','pwd':'9876'}

In [44]:
print(user_account_1['username'])  # Here keys acts as indexing point.

atn1

In [46]:
print(user_account_1['lname'])   # Here keys acts as indexing point.

nai

In [47]:
print(user_account_1['pwd'])       # Here keys acts as indexing point.

9876

In [48]:
print(user_account_1['fname'])        # Here keys acts as indexing point.

aru

In [ ]:
#  adding new key-value pair to dictionary ------>  like ------>   lunch :  dosa

In [50]:
user_account_1['lunch'] = 'dosa'

In [51]:
print(user_account_1)

{'username': 'atn1', 'fname': 'aru', 'lname': 'nai', 'pwd': '9876', 'lunch': 'dosa'}

In [52]:
user_account_1['trip']='Kashmir'

In [53]:
print(user_account_1)

{'username': 'atn1', 'fname': 'aru', 'lname': 'nai', 'pwd': '9876', 'lunch': 'dosa', 'trip': 'Kashmir'}